* {
    font-family: Arial, Helvetica, sans-serif;
}

.app
{
    margin: auto;
    width: 50%;
    height: 800px;
}

.groupList{
    width: 20%;
}

.messageList{
    width: 70%;
}

.column
{
    float: left;
    height: 100%;
    padding-right: 
    10px
}

.message{
    background-color: lightsteelblue;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
}

.messageOuter{
    width: 100%;
}

.sender{
    float: right;
}

.receiver{
    float: left;
}

.group {
    background-color: lightgreen;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}

button{
    border: none;
    background-color: Transparent;
    font-size: medium;
}